.create-post-container {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.create-post-container .button {
  flex-grow: 1;
  text-align: left;
}
