.display-1 {
  font-size: 3.785rem;
  line-height: 4.675rem;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: bold;
}
.text-sm {
  font-size: var(--font-size-sm);
}
.w-full {
  width: 100%;
}
.margin-y {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-b {
  margin-bottom: 20px;
}
.italic {
  font-style: italic;
}
