.display-1 {
  font-size: 4rem;
  line-height: 4.875rem;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: bold;
}
.text-sm {
  font-size: var(--font-size-sm);
}
.w-full {
  width: 100%;
}